/*bilder hover efekt html und css*/

.curse {
    transition: 750ms;
}

.curse:hover {
    transition: 750ms;
    filter: drop-shadow(-3px 20px 10px rgb(248, 92, 1));
}

.curse2 {
    transition: 750ms;
}

.curse2:hover {
    transition: 750ms;
    filter: drop-shadow(-3px 20px 10px rgb(1, 190, 248));
}